<include('../../layouts/default/template.marko')>
  <@title>Home</@title>
  <@body>
    <main>
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width=700px">
        <h1 class="display-4">Lista Oratorio</h1>
        <p class="lead">Este proyecto busca facilitar el control de asistencia y mantenimiento de lista de participantes de oratorios y obras sociales.</p>
      </div>
    </main>
  </@body>
</include>
